.ball {
    width: 40%;
}

.nextLogo {
    width: 5rem;
}

.jestLogoLg {
  width: 25%;
}

.jestLogo {
    width: 3.5rem;
}

.ball:hover {
    border-radius: 50%;
    width: 40%;
    background-color: transparent;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
  }

.nextLogo:hover {
    border-radius: 50%;
    width: 5rem;
    background-color: transparent;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
}

.jestLogoLg:hover {
  border-radius: 50%;
  width: 25%;
  background-color: transparent;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

.jestLogo:hover {
  border-radius: 50%;
  width: 80%;
  background-color: transparent;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}  
  
@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }

.skillBlock {
  background-color: transparent;
  padding: 3rem 2rem 1rem 2rem;
}  