/* Footer.js */

.footerBlock {
    border-top: 1px solid black;
    padding-top: 5%;
    font-family:'Roboto';
    font-size: 1.2rem;
}

.footerBlockNight {
    border-top: 1px solid white;
    padding-top: 5%;
    font-family:'Roboto';
    font-size: 1.2rem;
}

/* Footer.js */

/* Carousel.js */

.imgDescription {
    color:white;
}

.imgDescriptionNight {
    color:black;
}

/* Carousel.js */

/* LoadingBar.js */

.bar {
    background-color: black;
    position: absolute;
    transition: 'width 1s ease-in-out'
}

/* LoadingBar.js */