/* Footer.js */

.footerBlock {
    border-top: 1px solid black;
    padding-top: 5%;
    font-family:'Roboto'
}

.footerBlockNight {
    border-top: 1px solid white;
    padding-top: 5%;
    font-family:'Roboto'
}


/* Footer.js */

/* Carousel.js */

.imgBox {
    background-color:black;
}

.imgBoxNight {
    background-color:white;
}

.imgDescription {
    color:white;
}

.imgDescriptionNight {
    color:black;
}

/* Carousel.js */